<h1>Editing bookmark</h1>

<%= render 'form' %>

<%= link_to 'Show', @bookmark %> |
<%= link_to 'Back', bookmarks_path %>

<br />
<p>
<%= link_to 'Create a bookmark', new_bookmark_path %>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'Show all bookmarks', bookmarks_path %>
</p>
